[Desktop Entry]
Type=Application
Categories=AudioVideo;Audio;
Exec=rakarrack-plus
Name=Rakarrack-Plus
Comment=Guitar Effects Processor
Terminal=false
Icon=icono_rakarrack_128x128
