[Desktop Entry]
Type=Application
Categories=AudioVideo;Audio;Music;
Exec=rakarrack-plus
Name=Rakarrack-Plus
Comment=Guitar Effects Processor
Comment[fr]=Processeur d'effets de guitare
Terminal=false
Icon=icono_rakarrack-plus_128x128
X-NSM-Capable=true
X-NSM-Exec=rakarrack-plus
